<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368753206174-unim925m09o2qtsdqgcaco6kfvdvi0sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368753206174-unim925m09o2qtsdqgcaco6kfvdvi0sr</string>
	<key>API_KEY</key>
	<string>AIzaSyDEwfmhD7Y5gMIKBsEw3MABCSIF1tSUU9o</string>
	<key>GCM_SENDER_ID</key>
	<string>368753206174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucaloforte.DesignCode</string>
	<key>PROJECT_ID</key>
	<string>designcode-swiftui-6cf56</string>
	<key>STORAGE_BUCKET</key>
	<string>designcode-swiftui-6cf56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368753206174:ios:25045c5720540fee4eec8f</string>
</dict>
</plist>